<!-- let's confirm if user really want to delete the chapter -->
{% extends 'base.html' %}
{% block title %}
Delete Chapter
{% endblock %}
{% block content %}
<div class="container mt-3 text-center">
    <h2>Delete Chapter</h2>
    <p class="f-3">Are you sure you want to delete the chapter <strong>{{chapter.name}}</strong>?</p>
    <form action="{{url_for('delete_chapter', chapter_id=chapter.id, subject_id=subject.id)}}" method="post">
        <input type="submit" value="Delete" class="btn btn-outline-danger">
        <a href="{{url_for('admin_home')}}" class="btn btn-secondary">Cancel</a>
    </form>
</div>
{% endblock %}