*.pyc
__pycache__/
*.py[oc]
.DS_Store


# Virtual environments
.venv

# Logs
*.log

# Instance folder
instance/*

# Ignore yourself too!
.gitignore

# UV is a python package manager (https://astral.sh/blog/uv)
uv.lock
pyproject.toml
.python-version

# Ignore the list of tests I will perform manually I made list first so I don't forget any functionality
test.md