{% extends 'base.html' %}

{% block title %}
Edit Quiz
{% endblock %}

{% block content %}
<div class="container mt-3">
    <h1>Edit Quiz</h1>
    <form method="POST">
        <div class="mb-3">
            <label for="quiz_name" class="form-label">Updated Quiz Name</label>
            <input type="text" class="form-control" id="quiz_name" name="quiz_name" value="{{ quiz.name }}" required>
        </div>
        <div class="mb-3">
            <label for="quiz_description" class="form-label">Updated Quiz Description</label>
            <input type="text" class="form-control" id="quiz_description" name="quiz_description"
                value="{{ quiz.description }}">
        </div>
        <div class="mb-3">
            <label for="quiz_date_time" class="form-label">Scheduled Date &amp; Time</label>
            <input type="datetime-local" class="form-control" id="quiz_date_time" name="quiz_date_time"
                value="{{ quiz.quiz_schedule_date|datetimeformat }}" required>
        </div>
        <div class="mb-3">
            <label for="quiz_duration" class="form-label">Quiz Duration (minutes)</label>
            <input type="number" class="form-control" id="quiz_duration" name="quiz_duration"
                value="{{ quiz.quiz_duration }}" required>
        </div>
        <div class="d-grid gap-2 col-6 mx-auto mt-3">
            <button type="submit" class="btn btn-primary">Update Quiz</button>
        </div>
    </form>
</div>
{% endblock %}