<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{url_for('index')}}">
      <img src="{{ url_for('static', filename='svg/logo.svg') }}" alt="Logo" width="81" height="36"
        class="d-inline-block align-text-top">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    {% if 'user_id' in session %}
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link active" href="{{url_for('home')}}">
            <i class="fas fa-home"></i> Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="{{url_for('profile')}}">
            <i class="fas fa-user"></i> Profile</a>
        </li>
        <!-- if not admin then show my quiz results option too  -->
        {% if 'user_id' in session and not session['admin'] %}
        <li class="nav-item">
          <a class="nav-link active" href="{{ url_for('quiz_results') }}">
            <i class="fas fa-trophy"></i> My Quiz Results
          </a>
        </li>
        {% endif %}
        <li class="nav-item">
          <a class="nav-link active" href="{{ url_for('search') }}">
            <i class="fas fa-search"></i> Search
          </a>
        </li>
      </ul>
    </div>
    {% endif %}
  </div>
</nav>